body {
    background-image: url('luso.gif.gif');
    background-repeat: no-repeat;
    background-size: cover;
   margin:0;
   
}
body *{
    box-sizing: border-box;
}
#vers{
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    width: 100vw;
    height: 100vh;
    display:flex ;
    
    
  
 
}
#verstxt{
  
        text-align: center;
        margin:10px;
        width: 100vw;
        height: 100vh;
        padding: 30px 35px;
        margin-top: 70px;
        position: absolute;
        left: 0px;

        
}
#paltxt{
        text-align: center;
        width: 100vw;
        height: 100vh;
        padding: 30px 35px;
        display: flex;
        text-align:center;
        position: absolute;
        top:100px;
        
}

   

#pergunta{
    text-align: left;
    position: absolute;
    top: 680px;
   left: 50px;
}
 #yes{
    position: absolute;
    top: 730px;
    left: 190px;
 }
#no{
    position: absolute;
    top:765px;
    left:190px;
    
}  
button {
    font-family: 'Press Start 2P', cursive; ;
    background: transparent;
    color: aliceblue;
    border: 0px; 
    transition: background-color 0.3s ease;  
}  
button:before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.034);
  transform: translateX(0);
  transition: transform 0.1s ease-in;
}
button:hover:before {
    transform: translateX(30px);
  }
button:hover {
    background-color: rgba(255, 255, 255, 0.486);
  cursor: pointer;
 
  
}



div{
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}
@media only screen and (max-width:950px){
    #verstxt {
      width: 85%;
    }
  }
  @media only screen and (max-width:600px){
   #vers{
    text-align: left;
   }
    
    #verstxt{
      width: 100%;
      height: auto;
    }
    #paltxt{
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: left;
    }
    #vers{
      width: 90%;
    }
    button{
        margin: 0;
        width: auto;
        height: auto;
        text-align: left;
        justify-content: left;
    }
  }
